.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3vw;
  list-style-type: none;
  padding: 0;

  &__link {
    text-decoration: none;
  }
}

.country-list-loading,
.country-list-error,
.country-list-empty {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 800 32px/1.4 'Nunito Sans',
  sans-serif;
}
